## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [118]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
]

# def name_number(first_name, last_name, address_correct):
#     for fname, lname, address, number in address_book:
#         if fname + lname + address == first_name + last_name + address_correct:
#             return number
#         else:
#             return -1
        
# name_number('Hank', 'Mardukas', '123 Real Street')   <- This works, but is longer than what Brian got 

def name_number2(name):
    for contact in address_book:
        if contact[0] == name or contact[1] == name or contact[0] + ' ' + contact[1] ==name:
            return contact[3]
        else:
            return -1

name_number2('Hank Mardukas')

'(555) 555-1234'

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [119]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Syndey': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}

print(d3)
print(type(d3))


d4 = dict(test=123, abc='xyz')
print(d4)
print(type(d4))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Syndey': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
<class 'dict'>
{'test': 123, 'abc': 'xyz'}
<class 'dict'>

In [120]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

##### Accessing Values

In [121]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Syndey': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [122]:
# dict[key]
print(d3['Hank'])

123 Real Street

In [123]:
print(d3['Tevin'])

100 Rodeo Drive

In [124]:
print(d3['Brian']) # KeyError

KeyError: 'Brian'

##### .get()

In [ ]:
help(dict.get)

In [ ]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Brian'))
print(d3.get('Brian', 'No Address Available'))

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [152]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

# def fav_car():
#     year = truck.get('year')
#     make = truck.get('make')
#     model = truck.get('model')
#     return f"My favorite car is {year} {make} {model}"

# fav_car()  <- Didn't need to be a function 

print(f"My favorite car is {truck['year']} {truck['make']} {truck['model']}")

My favorite car is 2018 Chevrolet Silverado

##### Adding New Pairs

In [ ]:
d3

In [ ]:
# dict[key] = value
d3['Zooey'] = '428 Main Street'

d3

##### Modifying Values

In [ ]:
# dict[key] = value
d3['Zooey'] = '321 Fake Street'

d3

##### Removing Key, Value Pairs

In [ ]:
# del dict[key]

del d3['Tevin']

d3

In [ ]:
del d3['Tevin'] # KeyError

d3

In [ ]:
help(dict.pop)

In [ ]:
# dict.pop('key') - remove key,value pair - returns value back to caller

removed_value = d3.pop('Zooey')

print(removed_value)

print(d3)

In [ ]:
removed_value = d3.pop('Zooey', 'Not In Dictionary')

print(removed_value)

print(d3)

In [ ]:
people = {
    ('Brian', 'Stanton'): 99,
    ('Brian', 'Piccolo'): 89
}

people.get(('Brian', 'Stanton'))

##### Looping a Dictionary

In [ ]:
help(dict.items)

In [ ]:
# .items()
print(d3)
print(d3.items())

In [ ]:
for item in d3.items():
    print(item, type(item))

In [ ]:
a, b, c = (1, 2, 3)
print(a)
print(b)
print(c)

In [ ]:
for name, address in d3.items():
    print('Key:', name, '-- Value:', address)

##### Looping Only Keys

In [ ]:
d3

In [ ]:
# .keys()


for i in d3:
    print(i)
    
print('='*20)

print(d3.keys())

print('='*20)

for key in d3.keys():
    print(key)

In [ ]:
for key in d3:
    print(key, d3[key])

In [ ]:
for key in d3:
    print(key, d3.get(key))

##### Looping Only Values

In [ ]:
help(dict.values)

In [ ]:
# .values()
print(d3.values())

In [ ]:
for val in d3.values():
    print(val)

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() or f-string <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [ ]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

def colored_eyes(a_dict):
    for name, color in a_dict.items():
        print(f"{name} has {color} eyes")
        
colored_eyes(people)

##### List with Dictionaries

In [ ]:
my_list = [1, 2, 3, 'hello', 'goodbye', {'a': 123, 'b': 456}, d3]

print(my_list)

In [ ]:
print(my_list[5], type(my_list[5]))
print(my_list[5]['b'])
print(my_list[5].get('a'))

print(my_list[5].items())

##### List of Dictionaries

In [ ]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'release_year': 2019, 'title': 'Parasite', 'director': 'Bong Joon Ho'}
]

print(movies)
print(type(movies))

In [ ]:
for movie in movies:
    print(f"Title: {movie.get('title')} - Directed By: {movie.get('director')} - {movie.get('release_year')}")

##### Dictionaries with Lists

In [ ]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [45, 75, 234, 324],
    0: ['a', 'b', 'c']
}

print(random_data)
print(random_data[0]) # this is NOT index-0 - this is accessing the key 0
print(random_data['list1'], type(random_data['list1']))

In [ ]:
print(random_data['list1'][2])
random_data['list1'].append('Hello!')

print(random_data)

##### Dictionaries with Dictionaries

In [ ]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe)
print(my_shoppe.keys())
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['chocolate'])
print(my_shoppe.get('milkshake').get('oreo'))

In [ ]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

job_app

In [ ]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

In [ ]:
# List Comprehension
# [transform iterable filter]

my_new_list = [x**2 for x in range(10)]
print(my_new_list)

In [ ]:
# Dictionary Comprehension
# {transform key:vale iterable filter}

my_new_dict = {str(x): x**2 for x in range(10)}

print(my_new_dict)

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [ ]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [ ]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

In [ ]:
small_dictionary = {i: 'value' for i in range(10)}

small_dictionary

In [ ]:
'value' in small_dictionary

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [130]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()

print(first_set)
print(type(first_set))

set()
<class 'set'>

In [131]:
second_set = {3, 2, 1, 56}

print(second_set)
print(type(second_set))

{56, 1, 2, 3}
<class 'set'>

In [132]:
empty_set = {} # THIS WILL CREATE A DICTIONARY
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [133]:
tup_a = (1, 2, 3)
set_a = {1, 2, 3}

In [134]:
def get_digits(a_string):
    output = []
    digits = {str(i) for i in range(10)}
    print(digits)
    for letter in a_string:
        if letter in digits:
            output.append(letter)
    return output

get_digits('I live 4352 W North Street, Denver, CO 93845')

{'4', '2', '0', '3', '6', '8', '7', '1', '9', '5'}

['4', '3', '5', '2', '9', '3', '8', '4', '5']

In [ ]:
for num in second_set:
    print(num)

In [125]:
third_set = {1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4}

print(third_set)

{1, 2, 3, 4}

##### .add()

In [ ]:
help(set.add)

In [127]:
third_set.add(234)
print(third_set)

{1, 2, 3, 4, 234}

In [126]:
third_set.add(2)
print(third_set)

{1, 2, 3, 4}

In [ ]:
user_info = {'username':'brians', 'password':'abc123', 'email':'brians@codingtemple.com'}
user_info['username']

##### .remove()

In [ ]:
help(set.remove)

In [ ]:
third_set.remove(3)

print(third_set)

In [ ]:
third_set.remove('hi')

##### .union()

In [ ]:
help(set.union)

In [ ]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s2 | s1
print(s4)

In [ ]:
my_list = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 56]

no_dupes = list(set(my_list))
print(no_dupes)

##### .intersection()

In [ ]:
help(set.intersection)

In [144]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s2.intersection(s1)
print(s5)

# OR 

s6 = s1 & s2
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [ ]:
help(set.difference)

In [143]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [ ]:
my_list = [{'a', 'b', 'c'}, {'d', 'e', 'f'}]
print(my_list)

In [ ]:
my_dict = {
    'a': {1, 2, 3}
}

print(my_dict['a'])

In [ ]:
help(hash)

In [ ]:
my_dict = {
    (1, 2, 3): "hello"
}

In [ ]:
hash((1, 2, 3))

In [ ]:
hash([1, 2, 3])

##### .clear()

In [ ]:
# Empties the whole set
# set.clear()
nums = {34, 456, 23, 34, 65}

print(nums)

nums.clear()

print(nums)

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [ ]:
s3

In [ ]:
# frozenset([])

my_frozenset = frozenset(s3)
print(my_frozenset)

In [ ]:
my_frozenset.add(7)

In [ ]:
new_set = {5, 10, 15, 20}

a_dict_with_set_keys = {
    new_set: "Hello World"
}

print(a_dict_with_set_keys)

In [ ]:
new_set = frozenset({5, 10, 15, 20})

a_dict_with_set_keys = {
    new_set: "Hello World"
}

print(a_dict_with_set_keys)

In [ ]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [ ]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the values into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [ ]:
from IPython.display import clear_output

In [141]:
def address_book():
    name_address = {} #empty dict to use for output
    while True:     
        name = input("What is the name you'd like to add: (type 'quit' to quit the program)")
        if name == 'quit': #only happens when 'quit is typed
            print("You entered:")
            for name, address in name_address.items(): #once quit this will loop for the key value of name_address
                print(f"{name} lives on {address}") 
            break #end loop of inputs
        address = input(f"What is the address for {name}: ") #gets the address (name's value)
        name_address[name] = address #adds to the empty dict


address_book()

What is the name you'd like to add: (type 'quit' to quit the program)Mason
What is the address for Mason: 123 Fake
What is the name you'd like to add: (type 'quit' to quit the program)Bri
What is the address for Bri : 123 Fake
What is the name you'd like to add: (type 'quit' to quit the program)Marshall
What is the address for Marshall: 764 Unlucky Ave
What is the name you'd like to add: (type 'quit' to quit the program)Madi
What is the address for Madi : 123 Real
What is the name you'd like to add: (type 'quit' to quit the program)quit
You entered:
Mason lives on 123 Fake
Bri  lives on 123 Fake
Marshall lives on 764 Unlucky Ave
Madi  lives on 123 Real

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in an original list plus any number of lists of teammate's available times (*remember \*args*) and return a list of times where everyone can meet.

In [153]:
person1 = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
person2 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
person3 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
person4 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
person5 = ['06:00', '08:30', '11:45', '12:00', '13:30', '14:30', '16:20']
# Available Times: '12:00' and '14:30'

def best_time(*time):
    new_time = set(time[0])
    for free in time:
        new_time = new_time.intersection(free)
    return new_time

free_time = best_time(person1, person2, person3, person4, person5)
print(free_time)

{'14:30', '12:00'}